﻿@{
    ViewBag.Title = "Home Page";
}
<div class="page-title">
    <div class="title_left">
        <h3>Bienvenido!</h3>
    </div>
</div>

<div class="">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-bars"></i> PetLovet Veterinaria</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <center>
                <img src="~/Images/Marca/PetLovet_logo.png" alt="Alternate Text" />
            </center>
        </div>
    </div>
</div>